@model SanTsgHotelBooking.Domain.HotelDetails

<div class="card  container pt-2">
    <div class="card-header bg-warning bg-gradient  ml-0  row ">
        <div class="col-12 col-md-6">
            <h1 class="text-white">@Model.HotelName</h1>
            <p class="text-primary"><strong> 📍 @Model.CityName</strong></p>
        </div>
        <div class="col-12 col-md-6 text-end pt-4">
            <span class="badge bg-info pt-2" style="height:30px;">ID: @Model.HotelId</span>
            <span class="badge bg-info pt-2" style="height:30px;">📞 : @Model.PhoneNumber</span>
        </div>
    </div>
    <div class="card-body row container bg-light bg-gradient">

    </div>
</div>