@{
    ViewData["Title"] = "Price Search Hotels";
    //Html.Hidden("cityId", ViewData["CityID"], new { @class = "someclass" });
}

<div class="container p-3">
    <div>
        <form class="row g-3" asp-controller="Search" asp-action="Hotels" method="get">
            <div class="col-8">
                <input type="text" name="SearchString" class="form-control" id="searchBox" placeholder="Search here...">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary mb-3" type="submit" value="Search" />
            </div>
        </form>
    </div>
    <p id="cityId" hidden>@ViewData["CityID"]</p>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Picture</th>
                <th>HotelName</th>
                <th>Price</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/hotelsearch.js"></script>
}