@model IEnumerable<SanTsgHotelBooking.Domain.HotelProduct>
@{
    ViewData["Title"] = "Search";
}

<div class="container p-3">
    <div>
        <form class="row g-3" asp-controller="Search" asp-action="Index" method="get">
            <div class="col-8">
                <input type="text" name="SearchString" class="form-control" id="searchBox" placeholder="Search here...">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary mb-3" type="submit" value="Search" />
            </div>
        </form>
    </div>

    <div class="container p-1">
        <table id="tblData" class="table table-bordered table-striped dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Otel Id</th>
                    <th>Otel Ismi</th>
                    <th>Şehir</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="10%">
                            @obj.HotelId
                        </td>
                        <td width="40%">
                            @obj.HotelName
                        </td>
                        <td width="20%">
                            @obj.City
                        </td>
                        <td width="7%">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Search" asp-action="Details" asp-route-id="@obj.HotelId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>