@model IEnumerable<SanTsgHotelBooking.Domain.City>
@{
    ViewData["Title"] = "Search Hotels";
}

<div class="container p-3">
    <h4 class="text-info">Please Choose a City</h4>
    <hr />
    <div class="container p-1">
        @foreach (var obj in Model)
        {
            <div class=" btn-group m-1" role="group">
                <a asp-controller="Search" asp-action="Hotels" asp-route-searchString="@obj.CityName"
               class="btn btn-primary mx-2"> <i class="bi bi-pin-map"></i>@obj.CityName</a>
            </div>
        }
    </div>
</div>